*, *::before, *::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

img {
    display: block;
}

.header {
    display: flex;
    align-items: center;
    height: 73px;
    border-bottom: 1px solid #E5E9F2;
}

.header-container {
    width: 1110px;
    margin: 0 auto;
    align-items: center;
    display: flex;
}

.logo {
    margin-right: 40px;
}


.nav {
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    margin-top: -1px;
}

.nav-link {
    margin-right: 32px;
    text-decoration: none;
    color: #18191F;

}

.nav-link:last-child {
    margin-right: 0;
}

.nav-link:hover {
    color: #8C30F5;
}

.appstore {
    margin-left: auto;
    display: flex;
    gap: 12px;
}